/* App.css */

/* Стилі для заголовка */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Стилі для форми додавання задач */
form {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Стилі для списку задач */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Стилі для кожного елемента задачі у списку */
.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.task-item h3 {
  margin: 0 0 5px;
}

.task-item p {
  margin: 0;
  color: #666;
}
